.flight-wrapper {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 300px;
  margin: auto;
}


.dots {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #27A599;
  opacity: 0.5;
  filter: blur(8px); 
}


.card {
    z-index: 2;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.card img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  object-fit: cover;
}

.card h4 {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.card p {
  margin: 0;
  font-size: 10px;
  color: gray;
}


.left-circle {
  position: absolute;
  left: 0;
  bottom: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.right-circle {
    position: absolute;
    right: 0px;
    top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{width: 159px;
    height: 197px;
    position: relative;
    top: 65px;
    left: 15px;}


